<!-- paginas/state1.list.html -->

 <div  ng-app="app" ng-controller = "DesmamaCtrl">  
  
   Codigo:    <input type="number" ng-model="desmama.identifier"/></p>
   Data Desmama:  <input type="text" ng-model="desmama.dtDesmama"/></p>
   Idade:  <input type="text" ng-model="desmama.idade"/></p>
   Observação:  <input type="text" ng-model="desmama.obs"/></p>
   
   <input type="button" value="Novo" ng-click = "limpar()" >  <input type="button" value="Salvar" ng-click = "salvar()" > <input type="button" value="Apagar" ng-click = "apagar(desmama)" ></p>
    
    
         <table border = "1">
                <tr ng-repeat = "desmama in desmamas">
                     <td ng-click = "selecionar(desmama)" ng-bind = "desmama.identifier"> </td>
                    <td >{{desmama.dtDesmama}} </td>
                    <td >{{desmama.idade}} </td>
                    <td  >{{desmama.obs}} </td>
                    
                </tr>
         </table>
    
    </div>

